@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(0, 221, 255);
}

.form_container {
    background: #fff;
    padding: 20px;
    height: auto;
    width: 40%;
    margin: 100px auto;
    display: block;
    border-radius: 8px;
    position: sticky;
}

.form_heading {
    text-align: center;
}

.form {
    margin-top: 12px;
}

.form_group {
    margin-top: 1rem;
}

.form_group .form_control {
    display: block;
    padding: 5px;
    width: 80%;
    border: 1px solid #000;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    color: #000;
}

.form_group .form_control::placeholder {
    color: #000;
}

.btn {
    margin-top: 0.8rem;
    padding: 5px;
    background: none;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn:hover {
    background: #000;
    color: #fff;
}

.toggle_text {
    font-size: 0.9rem;
    margin-top: 0.8rem;
}

.toggle_text .toggle_link {
    text-decoration: underline;
    cursor: pointer;
}